In [1]:
#importing liberaries
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
data = pd.read_csv("churn.csv")

In [3]:
data.shape # shape of the data

(3333, 21)

In [4]:
(data.columns) # cloumns in the dataset

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [5]:
data.describe() # various statistics terms

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [6]:
data.head(3) #first 3 rows of the dataset

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.

In [7]:
data['Churn?'].value_counts()

False.    2850
True.      483
Name: Churn?, dtype: int64

In [8]:
# changing the true to 1 and false to 0 
data.loc[data['Churn?'] == 'False.','Churn?'] = 0
data.loc[data['Churn?'] == 'True.','Churn?'] = 1

In [9]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [10]:
# now splitting for X and Y 
X = data.drop(['Churn?','Phone'],axis=1)
Y = data['Churn?']
X.shape , Y.shape

((3333, 19), (3333,))

In [11]:
X.dtypes # type of columns

State              object
Account Length      int64
Area Code           int64
Int'l Plan         object
VMail Plan         object
VMail Message       int64
Day Mins          float64
Day Calls           int64
Day Charge        float64
Eve Mins          float64
Eve Calls           int64
Eve Charge        float64
Night Mins        float64
Night Calls         int64
Night Charge      float64
Intl Mins         float64
Intl Calls          int64
Intl Charge       float64
CustServ Calls      int64
dtype: object

In [12]:
X.select_dtypes(include=object).columns  #categorical values

Index(['State', 'Int'l Plan', 'VMail Plan'], dtype='object')

In [13]:
# filling the missing values for categorical values
X[['State']]=X[['State']].fillna('Unknown')
X[["Int'l Plan"]]=X[["Int'l Plan"]].fillna('Unknown')
X[['VMail Plan']]=X[['VMail Plan']].fillna('Unknown')

In [14]:
# now doing the label encoding for the categorical 
X1=LabelEncoder()
X["State"]=X1.fit_transform(X["State"])
X2=LabelEncoder()
X["Int'l Plan"]=X2.fit_transform(X["Int'l Plan"])
X3 = LabelEncoder()
X['VMail Plan']= X3.fit_transform(X['VMail Plan'])
X.head()

,State,Account Length,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
0,16,128,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,35,107,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,31,137,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,35,84,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,36,75,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [15]:
X.isnull().sum().count()

19

In [16]:
X.isnull().sum().sort_values().head(19)

State             0
Intl Calls        0
Intl Mins         0
Night Charge      0
Night Calls       0
Night Mins        0
Eve Charge        0
Eve Calls         0
Intl Charge       0
Eve Mins          0
Day Calls         0
Day Mins          0
VMail Message     0
VMail Plan        0
Int'l Plan        0
Area Code         0
Account Length    0
Day Charge        0
CustServ Calls    0
dtype: int64

In [17]:
# filling the missing values with the mean 
imputer=Imputer(missing_values='NaN', strategy='mean',axis=0)
imputer=imputer.fit(X)
X=imputer.transform(X)

C:\Users\DELL\Miniconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [18]:
# normalization of the data
sc = StandardScaler()
X = sc.fit_transform(X)

In [19]:
type(Y)

pandas.core.series.Series

In [20]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3)

# Decision Tree classification

In [21]:
#inialising the model
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [22]:
#predicting for x_test
y_pred = clf.predict(X_test)

In [23]:
# calculating the accurcay
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.924

# SVM Classification

In [25]:
#inialising the model
model = SVC(kernel='linear',C=0.025)
model.fit(X_train,y_train)

SVC(C=0.025, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [26]:
#predicting for x_test
y_pre = model.predict(X_test)

In [27]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pre))

Accuracy: 0.856

# Random forest Classifier

In [29]:
#inialising the model
last_model = RandomForestClassifier(max_depth=5,
                                    n_estimators=10,max_features=10)
last_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features=10, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [30]:
#predicting for x_test
y_last=last_model.predict(X_test)

In [31]:
# calculating the accurcay
print("Accuracy:",metrics.accuracy_score(y_test, y_last))

Accuracy: 0.942

# XGboost Classifier

In [32]:
import xgboost
classifier=xgboost.XGBRegressor()
classifier.fit(X_train,y_train)

C:\Users\DELL\Miniconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bytree=1, gamma=0, importance_type='gain',
             learning_rate=0.1, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
             nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
             subsample=1)

In [34]:
y_xgboost=classifier.predict(X_test)

In [37]:
y_xgboost[0]

0.08791697

In [41]:
for i in range(len(y_xgboost)):
    if(y_xgboost[i]>0.5):
        y_xgboost[i]=1
    else:
        y_xgboost[i]=0

In [42]:
# calculating the accurcay
print("Accuracy:",metrics.accuracy_score(y_test, y_xgboost))

Accuracy: 0.228

# Confusion matrix

In [43]:

confusion_matrix(y_test, y_pred)

array([[818,  38],
       [ 38, 106]], dtype=int64)

# precision and recall

In [46]:
#for decision tree
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96       856
           1       0.74      0.74      0.74       144

    accuracy                           0.92      1000
   macro avg       0.85      0.85      0.85      1000
weighted avg       0.92      0.92      0.92      1000

In [47]:
#for svm classifier
print(classification_report(y_test, y_pre))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92       856
           1       0.00      0.00      0.00       144

    accuracy                           0.86      1000
   macro avg       0.43      0.50      0.46      1000
weighted avg       0.73      0.86      0.79      1000

C:\Users\DELL\Miniconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [48]:
#for random forest
print(classification_report(y_test, y_last))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97       856
           1       0.91      0.67      0.77       144

    accuracy                           0.94      1000
   macro avg       0.93      0.83      0.87      1000
weighted avg       0.94      0.94      0.94      1000